<h3>Do you want to create a list associated with this task?</h3>

<div class="forms">

  <%= render 'form', list: @list %>
</div>

<div class="links">
  <%= link_to 'Back', chores_path %>
  <%= link_to 'Cancel', chores_path %>
</div>
