   <%# @chore.comments.each do |f| %>
      <p><%#= render f %></p>
      <p><%#= link_to "View this task", task_path(task) %></p>
    <%# end %>

  <p id="notice"><%= notice %></p>
  <p>All user comments (not current user specific):</p>
  <br>

  <% @comments.each do |comment|%>
    <div class="index_row clearfix">
      <h2 class="todo_list_title">Print user name said :<%= link_to comment.content, comment %></h2>

    </div>
  <% end %>


  <div class="links">
    <%= link_to 'Home', chores_path %>
  </div>
