  <p id="notice"><%= notice %></p>
  <p>All comments entered by you! Please click on them to edit or delete</p>
  <br>

  <% @comments.each do |comment|%>
    <div class="index_row clearfix">
      <h2 class="todo_list_title"><%= link_to comment.content, comment %></h2>

    </div>
  <% end %>

  <div class="links">
    <%= link_to 'Home', chores_path %>
  </div>
